body {
  background-color: #212423 !important;
  color: #ffffff !important;
}
.root {
  font-family: "Oswald", sans-serif;
}

.btn {
  background-color: #444444 !important;
  color: #dbdbdb !important;
}

.card,
.list-group-item {
  background-color: #303030 !important;
}

/* Container */
.container {
  position: relative;
  top: 5rem;
}

/* Logo */
.a-logo {
  width: 100%;
  position: absolute;
}
.logo {
  width: 25rem;
  padding-top: 1rem;
}

/* Background image */
.main-page {
  background-image: url("./launch.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main page text */
.main-links {
  height: 100vh;
}

.text-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  cursor: pointer;
  border: 0.3rem solid white;
  padding: 0.25rem;
}

.text-link:hover {
  text-decoration: none;
}

/* Launch page */
h2.lauches-title {
  text-transform: uppercase;
  font-weight: 500;
}

.mission-name,
.rocket-name {
  font-weight: 400;
}

.list {
  list-style: none;
}

/* Carousel */
.carousel-indicators {
  bottom: -3.5rem !important;
}

/* Rocket */
.description-rocket {
  line-height: 2rem !important;
  font-weight: 300 !important;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo {
    width: 15rem;
  }
}
